{%load static%}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/register.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container" align="center" class="">
        <div id="header" class="">
{#            <div id="logo" class="">#}
{#                <img src="{% static 'image/logo.png' %}"  border="0" alt="">               #}
{#            </div>#}

        </div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="70%" color=#987cb9 SIZE=3>
{#        <div id="picture" class="">#}
{#            <img src="{% static 'image/login.png' %}" width="990" height="345" border="0" alt="">#}
{#        </div>#}

        <div id="menu">
            <nav  class="dropdownmenu">
                <ul >
                    <li><a href='http://127.0.0.1:8000/index/jump00/'>数据导入</a></li>
                    <li><a href="http://127.0.0.1:8000/index/jump01/">数据导出</a></li>
                    <li><a href="http://127.0.0.1:8000/index/jump08/">查询</a>
                        <ul id="submenu">
                            <li><a href="http://127.0.0.1:8000/index/jump1/">CELL</a></li>
                            <li><a href="http://127.0.0.1:8000/index/jump2/">eNodeB</a></li>
                            <li><a href="http://127.0.0.1:8000/index/jump3/">KPI</a></li>
                            <li><a href="http://127.0.0.1:8000/index/jump4/">PRB</a></li>
                        </ul>
                    </li>
                    <li><a href="#">分析</a>
                        <ul id="submenu">
                            <li><a href="http://127.0.0.1:8000/index/jump5/">C2I</a></li>
                            <li><a href="http://127.0.0.1:8000/index/jump6/">三元组</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="52%" color=#987cb9 SIZE=3>
{#        <div id="main" class="">#}
{#            <div id="left" class="">#}
{#                <h1>关于我们</h1>#}
{#                <img src="{% static 'image/login.jpg' %}" border="0" alt="">#}
{#                <p>我们组由三人构成……………………</p>#}
{#            </div>#}
{#            <div id="right" class="qita">#}
{#                <h1>参考文献</h1>#}
{#                <ul>#}
{#                    <li>saldkfjasf</li>#}
{#                    <li>saldkfjasf</li>#}
{#                    <li>saldkfjasf</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
        <div id="footer" class="">
            <p>COPY RIGHT &copy;&nbsp;&nbsp;&nbsp;2016211303班纪呼啸等人组&nbsp;&nbsp;</p>
        </div>
    </div>
</body>
</html>





