{%load static%}
<!DOCTYPE html>
<html>

<head>
	<title>Library Member Login Form A Flat Responsive Widget Template :: W3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>
<!-- Body -->
<body>
	<h1 align="center"><font color="white">KPI指标信息查询</font></h1>
	<div class="container w3layouts agileits">
		<div class="login w3layouts agileits">
			<form action="http://127.0.0.1:8000/index/search3/" method="post">



                                                   <div style="position:relative;">
                        <select style="width:300px;line-height: 30px;height: 30px" onchange="document.getElementById('input').value=this.value">
                            <option value="三门峡连霍义马高速东-HLHF">三门峡连霍义马高速东-HLHF</option>
<option value="三门峡义马310国道煤场-HLHF">三门峡义马310国道煤场-HLHF</option>
<option value="三门峡义马常村-HLHF">三门峡义马常村-HLHF</option>
<option value="三门峡义马常村矿医院-HLHF">三门峡义马常村矿医院-HLHF</option>
<option value="三门峡义马大鸿泰美化塔-HLHF">三门峡义马大鸿泰美化塔-HLHF</option>
<option value="三门峡义马地税局西-HLHF">三门峡义马地税局西-HLHF</option>
<option value="三门峡义马电视台-HLHF">三门峡义马电视台-HLHF</option>
<option value="三门峡义马电业局小区-HLWE">三门峡义马电业局小区-HLWE</option>
<option value="三门峡义马大鸿泰美化塔-HLHF">三门峡义马大鸿泰美化塔-HLHF</option>
<option value="三门峡义马电视台-HLHF">三门峡义马电视台-HLHF</option>
<option value="三门峡义马东工地大剧院-HLHF">三门峡义马东工地大剧院-HLHF</option>
<option value="三门峡义马东海大酒店-HLHF">三门峡义马东海大酒店-HLHF</option>
<option value="三门峡义马东马岭-HLHF">三门峡义马东马岭-HLHF</option>
<option value="三门峡义马东苗元-HLHF">三门峡义马东苗元-HLHF</option>
<option value="三门峡义马东区小学-HLHF">三门峡义马东区小学-HLHF</option>
<option value="三门峡义马二高-HLHF">三门峡义马二高-HLHF</option>
<option value="三门峡义马二十里铺-HLHF">三门峡义马二十里铺-HLHF</option>
<option value="三门峡义马房管局-HLWE">三门峡义马房管局-HLWE</option>
<option value="三门峡义马福聚德美化塔-HLHF">三门峡义马福聚德美化塔-HLHF</option>
<option value="三门峡义马高速公路一煤厂二-HLHF">三门峡义马高速公路一煤厂二-HLHF</option>
<option value="三门峡义马高速入口-HLHF">三门峡义马高速入口-HLHF</option>
<option value="三门峡义马郭庄-HLHF">三门峡义马郭庄-HLHF</option>
<option value="三门峡义马郭庄村委大队部-HLHF">三门峡义马郭庄村委大队部-HLHF</option>
<option value="三门峡义马河口村-HLHF">三门峡义马河口村-HLHF</option>
<option value="三门峡义马红盾宾馆-HLHF">三门峡义马红盾宾馆-HLHF</option>
<option value="三门峡义马红土坡-HLHF">三门峡义马红土坡-HLHF</option>
<option value="三门峡义马洪庆公园-HLHF">三门峡义马洪庆公园-HLHF</option>
<option value="三门峡义马鸿泰购物中心-HLWE">三门峡义马鸿泰购物中心-HLWE</option>
<option value="三门峡义马鸿泰量贩-HLHF">三门峡义马鸿泰量贩-HLHF</option>
<option value="三门峡义马花园头-HLHF">三门峡义马花园头-HLHF</option>
<option value="三门峡义马华丰机械-HLHF">三门峡义马华丰机械-HLHF</option>
<option value="三门峡义马华山路-HLHF">三门峡义马华山路-HLHF</option>
<option value="三门峡义马机电厂-HLHF">三门峡义马机电厂-HLHF</option>
<option value="三门峡义马建材市场-HLHF">三门峡义马建材市场-HLHF</option>
<option value="三门峡义马建设局-HLWE">三门峡义马建设局-HLWE</option>
<option value="三门峡义马交警队-HLHF">三门峡义马交警队-HLHF</option>
<option value="三门峡义马金银叶小区-HLHF">三门峡义马金银叶小区-HLHF</option>
                        </select>

                        <input id="input" name="name" style="position:absolute;width:280px;height:26px;left:1px;top:1px;border:0px;" required="">
                    </div>



                                                   <div style="position:relative;">
                        <select style="width:300px;line-height: 30px;height: 30px" onchange="document.getElementById('input1').value=this.value">
<option value="RRC连接建立完成次数">RRC连接建立完成次数</option>
<option value="RRC连接请求次数">RRC连接请求次数</option>
<option value="RRC建立成功率">RRC建立成功率</option>
<option value="E-RAB建立成功总次数">[E-RAB建立成功总次数]</option>
<option value="E-RAB建立尝试总次数">[E-RAB建立尝试总次数]</option>
<option value="E-RAB建立成功率">[E-RAB建立成功率]</option>
<option value="eNodeB触发的E-RAB异常释放总次数">[eNodeB触发的E-RAB异常释放总次数]</option>
<option value="小区切换出E-RAB异常释放总次数">[小区切换出E-RAB异常释放总次数]</option>
<option value="E-RAB掉线率">[E-RAB掉线率]</option>
<option value="无线接通率">无线接通率</option>
<option value="eNodeB发起的S1RESET导致的UEContext释放次数">eNodeB发起的S1RESET导致的UEContext释放次数</option>
<option value="UEContext异常释放次数">UEContext异常释放次数</option>
<option value="UEContext建立成功总次数">UEContext建立成功总次数</option>
<option value="无线掉线率">无线掉线率</option>
<option value="eNodeB内异频切换出成功次数">eNodeB内异频切换出成功次数</option>
<option value="eNodeB内异频切换出尝试次数">eNodeB内异频切换出尝试次数</option>
<option value="eNodeB内同频切换出成功次数">eNodeB内同频切换出成功次数</option>
<option value="eNodeB内同频切换出尝试次数">eNodeB内同频切换出尝试次数</option>
<option value="eNodeB间异频切换出成功次数">eNodeB间异频切换出成功次数</option>
<option value="eNodeB间异频切换出尝试次数">eNodeB间异频切换出尝试次数</option>
<option value="eNodeB间同频切换出成功次数">eNodeB间同频切换出成功次数</option>
<option value="eNodeB间同频切换出尝试次数">eNodeB间同频切换出尝试次数</option>
<option value="eNB内切换成功率">eNB内切换成功率</option>
<option value="eNB间切换成功率">eNB间切换成功率</option>
<option value="同频切换成功率">同频切换成功率</option>
<option value="异频切换成功率">异频切换成功率</option>
<option value="切换成功率">切换成功率</option>
<option value="小区PDCP层所接收到的上行数据的总吞吐量">小区PDCP层所接收到的上行数据的总吞吐量</option>
<option value="小区PDCP层所发送的下行数据的总吞吐量">小区PDCP层所发送的下行数据的总吞吐量</option>
<option value="RRC重建请求次数">RRC重建请求次数</option>
<option value="RRC连接重建比率">RRC连接重建比率</option>
<option value="通过重建回源小区的eNodeB间同频切换出执行成功次数">通过重建回源小区的eNodeB间同频切换出执行成功次数</option>
<option value="通过重建回源小区的eNodeB间异频切换出执行成功次数">通过重建回源小区的eNodeB间异频切换出执行成功次数</option>
<option value="通过重建回源小区的eNodeB内同频切换出执行成功次数">通过重建回源小区的eNodeB内同频切换出执行成功次数</option>
<option value="通过重建回源小区的eNodeB内异频切换出执行成功次数">通过重建回源小区的eNodeB内异频切换出执行成功次数</option>
<option value="eNB内切换出成功次数">eNB内切换出成功次数</option>
<option value="eNB内切换出请求次数">eNB内切换出请求次数</option>
                        </select>
                        <input id="input1" name="attribute" style="position:absolute;width:280px;height:26px;left:1px;top:1px;border:0px;" required="">
                    </div>


                <a>起始</a>
                <input type="date" name="start" required="">
                <a>终止</a>
                <input type="date" name="end" required="">
                <div class="send-button w3layouts agileits">
					<input type="submit" value="给我画">
				</div>
			</form>
		</div>
        <div class="footer w3layouts agileits"></div>
    </div>


	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>
<!-- ECharts单文件引入 -->
<script src="{% static 'js/echarts.js' %}"></script>
<script type="text/javascript">
	// 路径配置
	require.config({
		paths: {
			echarts: 'http://echarts.baidu.com/build/dist'
		}
	});
	// 使用
	require(
		[
			'echarts',
			'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
		],
		function (ec) 
		{
			// 基于准备好的dom，初始化echarts图表
			var myChart = ec.init(document.getElementById('main')); 
			var option = {
				tooltip: {
					show: true
				},
				legend: {
					data:['某属性值']
				},
				xAxis : 
				[
					{
						type : 'category',
						data : {{ info1|safe }},
						axisLabel: {
								   show: true,
								   textStyle: {
											   color: 'white'
											   }
								   }
				   }	 
				],

				yAxis : 
				[
					{
						type : 'value',
						axisLabel: {
								   show: true,
								   textStyle: {
											   color: 'white'
											   }
								   }
					}
				],
				series : [
					{
						name:"某属性值",
						type:"bar",
						data : {{ info2|safe }},
					}
				],
			   toolbox: 
			   { //可视化的工具箱
				   show: true,
				   feature: 
				   {
					   dataView: 
					   { //数据视图
						   show: true
					   },
					   restore: 
					   { //重置
						   show: true
					   },
					   dataZoom: { //数据缩放视图
						   show: true
					   },
					   saveAsImage: {//保存图片
						   show: true
					   },
					   magicType: {//动态类型切换
						   type: ['bar', 'line']
					   }
				   }
			   },
			}
			// 为echarts对象加载数据 
			myChart.setOption(option); 
		}
		
	);
</script>


</body>
<!-- //Body -->

</html>