{%load static%}
<!DOCTYPE html>
<html>

<head>
	<title>Library Member Login Form A Flat Responsive Widget Template :: W3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>
<!-- Body -->
<body>
	<h1 align="center"><font color="white">PRBnew中的查询</font></h1>

	<div class="container w3layouts agileits">
		<div class="login w3layouts agileits">
			<form action="http://127.0.0.1:8000/index/search4_2/" method="post">


   <div style="position:relative;">
                        <select style="width:300px;line-height: 30px;height: 30px" onchange="document.getElementById('input').value=this.value">
                            <option value="三门峡连霍义马高速东-HLHF">三门峡连霍义马高速东-HLHF</option>
<option value="三门峡连霍义马高速东-HLHF-1">三门峡连霍义马高速东-HLHF-1</option>
<option value="三门峡连霍义马高速西-HLHF-1">三门峡连霍义马高速西-HLHF-1</option>
<option value="三门峡义马310国道煤场-HLHF-2">三门峡义马310国道煤场-HLHF-2</option>
<option value="三门峡义马310国道煤场-HLHF-1">三门峡义马310国道煤场-HLHF-1</option>
<option value="三门峡义马常村-HLHF-3">三门峡义马常村-HLHF-3</option>
<option value="三门峡义马常村-HLHF-2">三门峡义马常村-HLHF-2</option>
<option value="三门峡义马常村-HLHF-1">三门峡义马常村-HLHF-1</option>
<option value="三门峡义马常村矿医院-HLHF-3">三门峡义马常村矿医院-HLHF-3</option>
<option value="三门峡义马常村矿医院-HLHF-2">三门峡义马常村矿医院-HLHF-2</option>
<option value="三门峡义马常村矿医院-HLHF-1">三门峡义马常村矿医院-HLHF-1</option>
<option value="三门峡义马常村派出所-HLHF-3">三门峡义马常村派出所-HLHF-3</option>
<option value="三门峡义马常村派出所-HLHF-2">三门峡义马常村派出所-HLHF-2</option>
<option value="三门峡义马常村派出所-HLHF-1">三门峡义马常村派出所-HLHF-1</option>
<option value="三门峡义马大鸿泰美化塔-HLHF-3">三门峡义马大鸿泰美化塔-HLHF-3</option>
<option value="三门峡义马大鸿泰美化塔-HLHF-2">三门峡义马大鸿泰美化塔-HLHF-2</option>
<option value="三门峡义马大鸿泰美化塔-HLHF-1">三门峡义马大鸿泰美化塔-HLHF-1</option>
<option value="三门峡义马地税局西-HLHF-3">三门峡义马地税局西-HLHF-3</option>
<option value="三门峡义马地税局西-HLHF-2">三门峡义马地税局西-HLHF-2</option>
<option value="三门峡义马地税局西-HLHF-1">三门峡义马地税局西-HLHF-1</option>
<option value="三门峡义马地税局西-HLHF-3">三门峡义马地税局西-HLHF-3</option>
<option value="三门峡义马地税局西-HLHF-2">三门峡义马地税局西-HLHF-2</option>
<option value="三门峡义马地税局西-HLHF-1">三门峡义马地税局西-HLHF-1</option>
<option value="三门峡义马电视台-HLHF-3">三门峡义马电视台-HLHF-3</option>
<option value="三门峡义马电视台-HLHF-2">三门峡义马电视台-HLHF-2</option>
<option value="三门峡义马电视台-HLHF-1">三门峡义马电视台-HLHF-1</option>
<option value="三门峡义马电业局-HLHD-6">三门峡义马电业局-HLHD-6</option>
<option value="三门峡义马电业局-HLHD-5">三门峡义马电业局-HLHD-5</option>
<option value="三门峡义马电业局-HLHD-4">三门峡义马电业局-HLHD-4</option>
<option value="三门峡义马电业局-HLHF-1">三门峡义马电业局-HLHF-1</option>
<option value="三门峡义马东工地大剧院-HLHF-3">三门峡义马东工地大剧院-HLHF-3</option>
<option value="三门峡义马东工地大剧院-HLHF-2">三门峡义马东工地大剧院-HLHF-2</option>
<option value="三门峡义马东工地大剧院-HLHF-1">三门峡义马东工地大剧院-HLHF-1</option>
<option value="三门峡义马东海大酒店-HLHF-3">三门峡义马东海大酒店-HLHF-3</option>
<option value="三门峡义马东海大酒店-HLHF-2">三门峡义马东海大酒店-HLHF-2</option>
<option value="三门峡义马东海大酒店-HLHF-1">三门峡义马东海大酒店-HLHF-1</option>
<option value="三门峡义马东马岭-HLHF-1">三门峡义马东马岭-HLHF-1</option>
<option value="三门峡义马东马岭-HLHF-2">三门峡义马东马岭-HLHF-2</option>
                        </select>

                        <input id="input" name="name" style="position:absolute;width:280px;height:26px;left:1px;top:1px;border:0px;" required="">
                    </div>



                                                   <div style="position:relative;">
                        <select style="width:300px;line-height: 30px;height: 30px" onchange="document.getElementById('input1').value=this.value">
                            <option value="AVG_1">AVG_1</option>
<option value="AVG_2">AVG_2</option>
<option value="AVG_3">AVG_3</option>
<option value="AVG_4">AVG_4</option>
<option value="AVG_5">AVG_5</option>
<option value="AVG_6">AVG_6</option>
<option value="AVG_7">AVG_7</option>
<option value="AVG_8">AVG_8</option>
<option value="AVG_9">AVG_9</option>
<option value="AVG_10">AVG_10</option>
<option value="AVG_11">AVG_11</option>
<option value="AVG_12">AVG_12</option>
<option value="AVG_13">AVG_13</option>
<option value="AVG_14">AVG_14</option>
<option value="AVG_15">AVG_15</option>
<option value="AVG_16">AVG_16</option>
<option value="AVG_17">AVG_17</option>
<option value="AVG_18">AVG_18</option>
<option value="AVG_19">AVG_19</option>
<option value="AVG_20">AVG_20</option>
<option value="AVG_21">AVG_21</option>
<option value="AVG_22">AVG_22</option>
<option value="AVG_23">AVG_23</option>
<option value="AVG_24">AVG_24</option>
<option value="AVG_25">AVG_25</option>
<option value="AVG_26">AVG_26</option>
<option value="AVG_27">AVG_27</option>
<option value="AVG_28">AVG_28</option>
<option value="AVG_29">AVG_29</option>
<option value="AVG_30">AVG_30</option>
<option value="AVG_31">AVG_31</option>
<option value="AVG_32">AVG_32</option>
<option value="AVG_33">AVG_33</option>
<option value="AVG_34">AVG_34</option>
<option value="AVG_35">AVG_35</option>
<option value="AVG_36">AVG_36</option>
<option value="AVG_37">AVG_37</option>
<option value="AVG_38">AVG_38</option>
<option value="AVG_39">AVG_39</option>
<option value="AVG_40">AVG_40</option>
<option value="AVG_41">AVG_41</option>
<option value="AVG_42">AVG_42</option>
<option value="AVG_43">AVG_43</option>
<option value="AVG_44">AVG_44</option>
<option value="AVG_45">AVG_45</option>
<option value="AVG_46">AVG_46</option>
<option value="AVG_47">AVG_47</option>
<option value="AVG_48">AVG_48</option>
<option value="AVG_49">AVG_49</option>
<option value="AVG_50">AVG_50</option>
<option value="AVG_51">AVG_51</option>
<option value="AVG_52">AVG_52</option>
<option value="AVG_53">AVG_53</option>
<option value="AVG_54">AVG_54</option>
<option value="AVG_55">AVG_55</option>
<option value="AVG_56">AVG_56</option>
<option value="AVG_57">AVG_57</option>
<option value="AVG_58">AVG_58</option>
<option value="AVG_59">AVG_59</option>
<option value="AVG_60">AVG_60</option>
<option value="AVG_61">AVG_61</option>
<option value="AVG_62">AVG_62</option>
<option value="AVG_63">AVG_63</option>
<option value="AVG_64">AVG_64</option>
<option value="AVG_65">AVG_65</option>
<option value="AVG_66">AVG_66</option>
<option value="AVG_67">AVG_67</option>
<option value="AVG_68">AVG_68</option>
<option value="AVG_69">AVG_69</option>
<option value="AVG_70">AVG_70</option>
<option value="AVG_71">AVG_71</option>
<option value="AVG_72">AVG_72</option>
<option value="AVG_73">AVG_73</option>
<option value="AVG_74">AVG_74</option>
<option value="AVG_75">AVG_75</option>
<option value="AVG_76">AVG_76</option>
<option value="AVG_77">AVG_77</option>
<option value="AVG_78">AVG_78</option>
<option value="AVG_79">AVG_79</option>
<option value="AVG_80">AVG_80</option>
<option value="AVG_81">AVG_81</option>
<option value="AVG_82">AVG_82</option>
<option value="AVG_83">AVG_83</option>
<option value="AVG_84">AVG_84</option>
<option value="AVG_85">AVG_85</option>
<option value="AVG_86">AVG_86</option>
<option value="AVG_87">AVG_87</option>
<option value="AVG_88">AVG_88</option>
<option value="AVG_89">AVG_89</option>
<option value="AVG_90">AVG_90</option>
<option value="AVG_91">AVG_91</option>
<option value="AVG_92">AVG_92</option>
<option value="AVG_93">AVG_93</option>
<option value="AVG_94">AVG_94</option>
<option value="AVG_95">AVG_95</option>
<option value="AVG_96">AVG_96</option>
<option value="AVG_97">AVG_97</option>
<option value="AVG_98">AVG_98</option>
<option value="AVG_99">AVG_99</option>
                        </select>
                        <input id="input1" name="attribute" style="position:absolute;width:280px;height:26px;left:1px;top:1px;border:0px;" required="">
                    </div>


                <a>起始</a>
                <input type="datetime-local" name="start" required="">
                <a>终止</a>
                <input type="datetime-local" name="end" required="">
                <div class="send-button w3layouts agileits">
					<input type="submit" value="给我画">
				</div>
			</form>
		</div>
        <div class="footer w3layouts agileits"></div>
    </div>


	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>
<!-- ECharts单文件引入 -->
<script src="{% static 'js/echarts.js' %}"></script>
<script type="text/javascript">
	// 路径配置
	require.config({
		paths: {
			echarts: 'http://echarts.baidu.com/build/dist'
		}
	});
	// 使用
	require(
		[
			'echarts',
			'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
		],
		function (ec) 
		{
			// 基于准备好的dom，初始化echarts图表
			var myChart = ec.init(document.getElementById('main')); 
			var option = {
				tooltip: {
					show: true
				},
				legend: {
					data:['均值干扰噪声']
				},
				xAxis : 
				[
					{
						type : 'category',
						data : {{ info1|safe }},
						axisLabel: {
								   show: true,
								   textStyle: {
											   color: 'white'
											   }
								   }
				   }	 
				],

				yAxis : 
				[
					{
						type : 'value',
						axisLabel: {
								   show: true,
								   textStyle: {
											   color: 'white'
											   }
								   },
                        max:-80,
                        scale: true
					}
				],
				series : [
					{
						name:"均值干扰噪声",
						type:"bar",
						data : {{ info2|safe }},
					}
				],
			   toolbox: 
			   { //可视化的工具箱
				   show: true,
				   feature: 
				   {
					   dataView: 
					   { //数据视图
						   show: true
					   },
					   restore: 
					   { //重置
						   show: true
					   },
					   dataZoom: { //数据缩放视图
						   show: true
					   },
					   saveAsImage: {//保存图片
						   show: true
					   },
					   magicType: {//动态类型切换
						   type: ['bar', 'line']
					   }
				   }
			   },
			}
			// 为echarts对象加载数据 
			myChart.setOption(option); 
		}
		
	);
</script>


</body>
<!-- //Body -->

</html>